In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("automobile.csv",header=0)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,price,horsepower-binned,price-binned,diesel,gas,std,turbo,city-L/100km,highway-L/100km
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,13495.0,Low,Low,0,1,1,0,11.190476,8.703704
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,16500.0,Low,Low,0,1,1,0,11.190476,8.703704
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,26,16500.0,Medium,Low,0,1,1,0,12.368421,9.038462
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,30,13950.0,Low,Low,0,1,1,0,9.791667,7.833333
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,22,17450.0,Low,Low,0,1,1,0,13.055556,10.681818

In [9]:
df[(df["make"]=="audi")]

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,price,horsepower-binned,price-binned,diesel,gas,std,turbo,city-L/100km,highway-L/100km
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,30,13950.0,Low,Low,0,1,1,0,9.791667,7.833333
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,22,17450.0,Low,Low,0,1,1,0,13.055556,10.681818
5,2,122,audi,two,sedan,fwd,front,99.8,177.3,66.3,...,25,15250.0,Low,Low,0,1,1,0,12.368421,9.400000
6,1,158,audi,four,sedan,fwd,front,105.8,192.7,71.4,...,25,17710.0,Low,Low,0,1,1,0,12.368421,9.400000
7,1,122,audi,four,wagon,fwd,front,105.8,192.7,71.4,...,25,18920.0,Low,Medium,0,1,1,0,12.368421,9.400000
8,1,158,audi,four,sedan,fwd,front,105.8,192.7,71.4,...,20,23875.0,Medium,Medium,0,1,0,1,13.823529,11.750000

In [10]:
df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,price,horsepower-binned,price-binned,diesel,gas,std,turbo,city-L/100km,highway-L/100km
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,13495.0,Low,Low,0,1,1,0,11.190476,8.703704
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,16500.0,Low,Low,0,1,1,0,11.190476,8.703704
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,26,16500.0,Medium,Low,0,1,1,0,12.368421,9.038462
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,30,13950.0,Low,Low,0,1,1,0,9.791667,7.833333
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,22,17450.0,Low,Low,0,1,1,0,13.055556,10.681818

In [11]:
a=[1,2,3,4]
print(a[::2])

[1, 3]

In [32]:
df["make"]=[]
for i, j in df.head().iterrows():
    print(j["make"])
    (df.iloc[i][""])
    print()

ValueError: Length of values does not match length of index

In [31]:
df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,price,horsepower-binned,price-binned,diesel,gas,std,turbo,city-L/100km,highway-L/100km
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,13495.0,Low,Low,0,1,1,0,11.190476,8.703704
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,16500.0,Low,Low,0,1,1,0,11.190476,8.703704
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,26,16500.0,Medium,Low,0,1,1,0,12.368421,9.038462
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,30,13950.0,Low,Low,0,1,1,0,9.791667,7.833333
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,22,17450.0,Low,Low,0,1,1,0,13.055556,10.681818

In [34]:
a=[1,2,3,4,5,6]
ds=pd.Series(a)

In [36]:
ds[]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [1]:
import pandas as pd
a=[1,2,3,4,5]
b=[2,3,4,5,6]
df=pd.DataFrame({"col1":a,"col2":b})
df=df.set_index("col1")